@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap");
html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: "League Spartan", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

h1 {
  font-size: 45px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

h2 {
  font-size: 18px;
  color: hsl(300, 43%, 22%);
  font-weight: 700;
}

h3 {
  color: hsl(0, 0%, 100%);
  font-weight: 400;
}

h4 {
  color: hsl(333, 80%, 67%);
  font-weight: 400;
}

p {
  font-size: 16px;
  color: hsl(300, 43%, 22%);
}

.main {
  max-width: 1440px;
  margin: 0 auto;
  background-image: url("/images/bg-pattern-top-desktop.svg"), url("/images/bg-pattern-bottom-desktop.svg");
  background-position: left top, right;
  background-repeat: no-repeat;
  box-shadow: 20px 20px 60px;
}

.box {
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 100px;
}

.upper-block {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
}

.text {
  width: 370px;
}

.text p {
  margin-top: 25px;
  line-height: 22px;
}

.rate {
  margin-left: 180px;
}

.block-rate {
  display: flex;
  align-items: center;
  width: 440px;
  background-color: hsl(300, 24%, 96%);
  margin-bottom: 15px;
  border-radius: 5px;
  padding: 15px 25px;
}

.block-rate img {
  margin-right: 7px;
}

.block-rate h2 {
  margin-left: 25px;
}

.two {
  margin-left: 50px;
}

.three {
  margin-left: 100px;
}

.testimonials {
  display: inline-block;
  position: relative;
}

.block-testimonial {
  display: inline-block;
  width: 344px;
  padding: 40px 30px;
  background-color: hsl(300, 43%, 22%);
  border-radius: 10px;
  margin-right: 20px;
  margin-bottom: 130px;
}

.customer {
  display: flex;
}

.avatar {
  border-radius: 50%;
  width: 50px;
}

.name {
  margin-left: 20px;
}

.name h4 {
  margin-top: 7px;
}

.block-testimonial p {
  width: 290px;
  color: hsl(0, 0%, 100%);
  line-height: 25px;
  margin-top: 25px;
}

.ttwo {
  position: absolute;
  top: 20px;
}

.tthree {
  position: absolute;
  top: 40px;
  left: 730px;
}

@media (max-width: 400px) {
  .main {
    max-width: 375px;
    background-image: url("/images/bg-pattern-top-mobile.svg"), url("/images/bg-pattern-bottom-mobile.svg");
    background-position: left top, right;
    background-repeat: no-repeat;
    box-shadow: none;
  }
  .box {
    max-width: 345px;
  }
  .upper-block {
    display: block;
  }
  .text {
    width: 345px;
    margin: 0 auto;
    text-align: center;
  }
  .text p {
    margin-bottom: 30px;
  }
  .rate {
    margin-left: 0;
  }
  .block-rate {
    display: block;
    width: 345px;
    text-align: center;
  }
  .block-rate img {
    margin-bottom: 9px;
  }
  .two {
    margin-left: 0;
  }
  .three {
    margin-left: 0;
  }
  .block-testimonial {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .ttwo {
    position: relative;
    top: 0;
  }
  .tthree {
    position: relative;
    top: 0;
    left: 0;
  }
}/*# sourceMappingURL=style.css.map */